.contactus {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30rem;
}

.contactus__hero {
    font-size: 20rem;
    text-transform: capitalize;
    color: darkgrey;
    text-align: center;
}

.contactus__form {
    width: 90%;
    height: 68rem;
    margin: 5rem auto;
    display: flex;
    gap: 3rem;
}

.contactus__form_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactus__form_info_header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contactus__form_info_header h1 {
    color: #ff6d6d;
    text-transform: capitalize;
    font-style: italic;
    font-size: 2rem;
}
.contactus__form_info_header h2 {
    text-transform: capitalize;
    font-size: 3rem;
    color: #2e4049;
}

.contactus__form_info_header p {
    color: #727272;
    font-size: 2rem;
}

.contactus__form_info_icons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 1rem;
}

.contactus__form_info__mail,
.contactus__form_info__call {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contactus__form_info__mail svg,
.contactus__form_info__call svg {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    background-color: #f2f2f2;
    color: #ff6d6d;
}

.contactus__form_info__follow {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.contactus__form_info__follow_links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.contactus__form_info__follow_links svg {
    fill: #2e4049;
}

.contactus__form_form {
    background-color: #ffffff;
    padding: 2rem;
    border: 1px solid #e7e7e7;
    width: 50%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactus__form_form input,
.contactus__form_form textarea {
    background-color: #f5f5f5;
    border: none;
    padding: 2rem;
}

.contactus__form_form input:focus,
.contactus__form_form textarea:focus {
    border: 1px solid red;
}

.contactus__form_form button {
    padding: 2rem 6rem;
    align-self: flex-start;

    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #2e4049;
    border: none;
    border-radius: 34px;
    color: #f5f5f5;
    padding-top: 2rem;
}
