.actionsbuttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.actionsbuttons__newsletterbox {
    flex: 1 1 50%;
    padding: 11.2rem;
    background-color: #f06c51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.newsletter__header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.actionsbuttons__newsletterbox_heading {
    font-size: 4rem;
    line-height: 120%;
    color: #ffffff;
}
.actionsbuttons__newsletterbox_subheading {
    font-size: 2rem;
    line-height: 130%;
    color: #ffffff;
}

.actionsbuttons__newsletterbox__form {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.actionsbuttons__newsletterbox__form_inputtag {
    border: none;
    border-radius: 34px;
    padding: 15px 20px 15px 20px;
    width: 70%;
    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 0;
}

.actionsbuttons__newsletterbox__form_inputtag::placeholder {
    font-size: 1.5rem;
    line-height: 150%;
    color: #727272;
}

.actionsbuttons__newsletterbox__form_subscribebtn {
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 34px;

    background-color: #2e4049;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 150%;
    text-transform: capitalize;

    cursor: pointer;

    flex-grow: 1;
    flex-basis: 1;
    flex-shrink: 0;
}

.actionsbuttons__blogbox {
    flex: 1 1 50%;

    padding: 6rem;
    background-color: #d5dca2;
    background-image: linear-gradient(
            to right bottom,
            rgba(213, 220, 162, 0.9),
            rgba(213, 220, 162, 0.9)
        ),
        url("../img/recentnewsbackground.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
}

.actionsbuttons__blogbox_heading {
    font-size: 4rem;
    line-height: 120%;
    font-weight: 500;
    color: #2e4049;
}

.actionsbuttons__blogbox_ctabtn {
    font-size: 1.8rem;
    border: none;
    border-radius: 34px;
    background-color: #2e4049;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
    align-self: flex-start;
    text-decoration: none;
}

/* MEDIA QUERIES */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
/* 
@media (max-width: 59em) {
    .actionsbuttons {
        grid-template-columns: 1fr;
    }

} */
