.footer {
    background-color: #40535c;
    display: flex;
    flex-direction: column;
}

.footer_info_box {
    width: 50%;
    margin: 10rem auto;
    display: flex;

}

.footer__socialmedia {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
}
.footer__socialmedia p{
    color: white;
    font-size: 1.5rem;
}

.footer__socialmedia img {
    width: 8rem;
    height: 8rem;
}

.footer__socialmedia ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 1.5rem;
}

.footer__socialmedia a {
    background-color: #384c56;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__socialmedia a svg {
    fill: #ffffff;
}

.footer__links {
    width: 100%;
    background-color: #495b63;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__links_discover,
.footer__links_engage,
.footer__link_connect {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: capitalize;
    color: white;
}
.footer__links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer__links a {
    text-decoration: none;
    color: inherit;
}

.footer_copyright {
    background-color: #465a64;
    color: white;
    border-top: 1px solid white;
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}
