.footer {
    background-color: #40535c;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer_info_box {
    width: 90%;
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.4rem;
    /* background-color: yellowgreen; */
}



.footer__socialmedia {
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__socialmedia__logo_text {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 65%;
}
 
.socialmedia {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 1.5rem;
}

.socialmedia  a {
    border: 1px solid white;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialmedia  a  svg {
    fill: #ffffff;
    width: 40px;
    height: 40px;
}

.footer__links {
    width: 70%;
    background-color: #495b63;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 7rem;
    padding: 46px 39px 46px 39px;
    color: #ffffff;
    text-transform: capitalize;
}
.footer__link {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer__link_heading {
    font-size: 2.5rem;
}

.footer__link_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    line-height: 186%;
    font-size: 2rem;
    font-weight: normal;
}

.footer__links a {
    text-decoration: none;
    color: inherit;
}
.footer_copyrightbox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer_copyrightbox {
    background-color: #465a64;
    color: white;
    padding: 2rem;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: center;
    line-height: 144.5%;
    font-weight: normal;
}




/* MEDIA QUERIES */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    .footer_info_box {
        flex-direction: column;
    }
     /* .footer__socialmedia {
        flex-direction: row;
    } */

    /*
    .footer__socialmedia ul {
        flex-direction: column;
    } */
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {

    /* .footer__links {

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    
    } */
}
