.gallery_hero{
    width: 100%;
    height: 82.2rem;
}

.gallery_hero__title {
    font-family: "Shippori Mincho", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 9rem;
    line-height: 108.3%;
    text-align: left;
    text-transform: capitalize;
    color: #ffffff;
    
    position: absolute;
    top: 50%;
    left: 20%;
    z-index:1;
}

.gallery_hero__imgbox {
    width: 100%;
    height: 100%;
}

.gallery_hero_img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(36, 21, 21, 0.5));
}



.gallery {
    max-width: 120rem;
    width: 90%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.galleries {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 2rem;
}
.gallery_item {
    flex: 1 0 38rem;
    max-width: 38rem;
    height: 60rem;
    position: relative;
    cursor: pointer;
}

.gallery_item__imgbox {
    width: 100%;
    height: 90%;
    display: flex; /* Center the image if there's extra space */
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally */
    background-color: #f7f7f8;


}

.gallery_item__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.gallery_item__overlay {
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

    background-color: #def1f0;
    padding: 1rem;

    width: 100%;
    height: 10%;
    color:#538785;
}

.gallery_item:hover .gallery_item__imgbox {
    opacity: 0.2;
}

.gallery_item__description {
    background-color: #def1f0;
    font-size: 1.5rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    color:#538785;
    transform: translateY(100%);
    opacity: 0;
    transition: all ease-in-out;
    transition-duration: 1s;
}

.gallery_item:hover .gallery_item__description {
    width:100%;
    height:100%;
    transform: translateY(0%);
    opacity: 1;
    position:absolute;
    top:0%;
    bottom: 95%;
    padding:1rem;
    z-index: 1;
}

.gallery__pagination {
    width: 100%;
    margin-top: 2rem;
}
.gallery__pagination nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.gallery__pagination_item {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffa858;
}

.gallery__pagination_item__current {
    background-color: #ffa858;
    opacity: 10%;
}



/* HOMEPAGE GALLER SECTION  */
.homepage__gallery_section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 48rem));
    grid-template-rows: repeat(2, 44.3rem);
    margin-block: 10rem;
}

/* .homepage__gallery_section_gallery-item {} */

.homepage__gallery_section_gallery-item-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.homepage__gallery_section_cta {
    grid-column: 1 / span 2;
    background-color: #202d33;

    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 1rem;
    color: white;
    padding: 2rem;
}

.homepage__gallery_section_cta h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 120%;
}
.homepage__gallery_section_cta p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 130%;
}

.homepage__gallery_section_cta button {
    align-self: flex-start;
    border: none;
    background-color: #ff6d6d;
    border-radius: 34px;
    padding: 12px 36px 12px 36px;
}

.homepage__gallery_section_cta a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.homepage__gallery_section_gallery-item_info {
    height: 44.3rem;
    background-color: #ff6d6d;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    gap: 1rem;
    padding: 4rem;
}

.homepage__gallery_section_gallery-item_info_tags {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.homepage__gallery_section_gallery-item_info_tags p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 130%;
    text-transform: capitalize;
    border-radius: 50px;
    background-color: #e85353;
    color: white;
    padding: 1rem 2rem;
}
.homepage__gallery_section_gallery-item_info_text {
    font-size: 3rem;
    line-height: 120%;
    color: #ffffff;
    font-weight: 600;
    text-transform: capitalize;
}

/* MEDIA QUERIES */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    .homepage__gallery_section {
        grid-template-columns: repeat(1, 1fr);
    }

    .homepage__gallery_section_cta {
        grid-column: auto;
    }
}
