.header {
    background-color: var(--color-primary4);
}

.header__footer {
    background-color: var(--color-primary1);
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5%;
}

.header__footer__contact {
    color: #126360;
    display: flex;
    gap: 3rem;
}
.header__footer__contact_call {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}

.header__footer__contact_mail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
}
.header__footer__socialmeadia_box {
    height: 100%;
    background-color: #7abe77;
    padding-inline: 20px;
}

.header__footer__socialmeadia {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.ionicon {
    width: 17px;
    height: 17px;
    fill: #126360;
}

.header__navigation {
    background-color: white;
    padding-inline: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 319px;
    height: 160px;
}

.header__navigation__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header__navigation__menu a {
    text-decoration: none;
    font-size: 2rem;
    color: #2e4049;
    text-transform: capitalize;
}

.header__navigation__menu button{
    width: 20rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 34px;
    padding: 22px 36px 22px 36px;
    background-color: #f06c51;
    border: none;
    color: white;
    text-transform: uppercase;
}

/* HEROSECTION */
.herosection {
    position: relative;
    width: 96%;
    margin: 0px auto;
    padding-bottom: 100px;

}

.herosection_img {
    width: 100%;
    align-items: center;
    border-radius: 32px;

}


.herosection__info {
    position:absolute;
    bottom: 25%;
    left: 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4rem;

}

.herosection__info_text {
    color: white;
    font-size: 6.9rem;
    line-height: 96%;
    font-weight: 600;

}



.herosection__info_cta {
    width: 20rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 34px;
    padding: 22px 36px 22px 36px;
    background-color: #f06c51;
    border: none;
    color: white;
    text-transform: uppercase;
}