.header {
    background-color: var(--color-primary4);
    width: 100%;
    margin: 0 auto;
    /* position: relative; */
}

.header__footer {
    background-color: var(--color-primary1);
}

.header__footerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 72px;
    margin: 0 auto;
}

.header__footer__contact {
    color: #126360;
    display: flex;
    gap: 3rem;
    /* background-color: #f06c51; */
}
.header__footer__contact_call {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.header__footer__contact_call_phonenumber {
    font-size: 2rem;
}

.header__footer__contact_email {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* .header__footer__contact_email_img,
.header__footer__contact_call_img {
    width: 14px;
    height: 14px;
} */

.header__footer__contact_email_email {
    font-size: 2rem;
}

.header__footer__socialmedia_box {
    height: 100%;
    background-color: #7abe77;
    padding-inline: 20px;
    background-color: rebeccapurple;
}

.header__footer__socialmedia {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ionicon {
    width: 17.83px;
    height: 17.17px;
    fill: #126360;
}

.header__navigation {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    padding:2rem;
    width: 200px;
    /* height: 100px; */
    border: none;
}

.header__navigation__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header__navigation__menu a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #2e4049;
    text-transform: capitalize;
}

.donate  {
    width: 20rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 34px;
    padding: 22px 36px 22px 36px;
    background-color: #f06c51;
    border: none;
    text-transform: uppercase;
}

.donate a {
    color: white;

}

/* HEROSECTION */
.herosection {
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 4%;
}


.herosection__info {
    flex: 1 0 60%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    /* background-color: #333; */
}



.herosection__info_text {
    font-family: "Shippori Mincho", serif;
    font-weight: 700;
    font-size: 7.3rem;
    line-height: 100%;
    font-weight: 600;
    text-align: left;
    color: #515050;
    height: auto;

}

.herosection__info_cta {
    width: 20rem;
    height: 6rem;
    cursor: pointer;
    border-radius: 34px;
    padding: 22px 36px 22px 36px;
    background-color: #f06c51;
    border: none;
    color: white;
    text-transform: uppercase;
    align-self: flex-start;
}

.herosection_imgbox {
    /* background-color: red; */
    flex: 1 0 40%;
}

.herosection_img {
    width: 100%;
    height: 100%;
}



/* mobile navigation */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

/* rem and em do not depend on html font-size  in media queries! instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    .header__footer {
        display: none;
    }
    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }

    .header__navigation__menu {
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */

        /* 1) Hide it visually */
        opacity: 0;

        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) Hide it from screen readers */
        visibility: hidden;
    }

    .header__footer {
        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */

        /* 1) Hide it visually */
        opacity: 0;

        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) Hide it from screen readers */
        visibility: hidden;
    }

    .nav-open .header__navigation__menu {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .herosection {}

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
}

/* 
BELOW 544px  (Phones) 
*/

@media (max-width: 34em) {
}
