.partners {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.donor_partners_section {
    max-width: 120rem;
    margin: 2rem auto;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.donor_partners {

    display: grid;
    grid-template-columns: repeat(6,20rem);
}

.partner {
    border: 1px solid #495b63;
}


.partner img {
    padding: 2rem;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.donor_partners__title{
    line-height: 120%;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    color: #2e4049;
    font-family: "Shippori Mincho", serif;
    font-style: normal;
    text-transform: capitalize;
}



/* MEDIA QUERIES */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    .donor_partners {

        grid-template-columns: repeat(2,15rem);

    }

    .donor_partners__title {
        font-size: 2rem;
    }
}
