.testimonials_section {
    width: 1668px;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 8.8rem;
}
.testimonials__title {
    text-align: center;
    font-size: 5.5rem;
    text-transform: capitalize;
    font-weight: bold;
    color: #2e4049;
    line-height: 120%;
}

.testimonials {
    display: flex;
    gap: 3rem;
}

.testimonial {
    display: flex;
    padding: 3.6rem;
    gap: 3.4rem;
    background-color: #ecf1f0;
}

.testimonial__image {
    width: 228px;
    height: 357px;
}

.testimonial__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13.9px;
}

.testimonial__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.testimonial__name {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-transform: capitalize;
}

.testimonial__name_fn {
    font-size: 3.4rem;
    font-weight: bold;
    text-align: left;
    color: #2e4049;
}
.testimonial__name_job {
    font-size: 2.7rem;
    font-weight: bold;
    line-height: 130%;
    text-align: left;
    color: #727272;
}
.testimonial__quote {
    color: #d8d8d8;
}

.testimonial__content {
    font-size: 2.7rem;
    color: #727272;
    font-weight: bold;
    line-height: 130%;
}

.testimonials__pagination {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonials__pagination_line {
    width: 100%;
    border: 1px solid #d0d0d0;
}

.testimonials__pagination_back,
.testimonials__pagination_forward {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border: 1px solid #d0d0d0;
    border-radius: 50%; 
    cursor: pointer;
}

.testimonials__pagination_back_img,
.testimonials__pagination_forward_img {
    width: 15px;
    height: 30px;
    color: #000000;

}







/* MEDIA QUERIES */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
    .testimonials_section {
        width: min-content;
    }
    .testimonials {
        flex-direction: column
    }

}