/* MEET OUR VOLUNTERS  START */

.voluntersection {
    width: 120rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: #faf9fd;
}
.voluntersection__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%;
    color: #2e4049;
    text-align: center;
}

.voluntersection__volunters {
    display: flex;
    gap: 2.3rem;
}

.voluntersection__volunters_volunter {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.voluntersection__volunters_volunter_img {
    width: 283px;
    height: 382px;
}

.voluntersection__volunters_volunter_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.voluntersection__volunters_volunter_detail__name {
    font-size: 2rem;
    line-height: 120%;
    font-weight: 700;
    color: #2e4049;
}

.become_avolunter {
    background-color: #77d7d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 64px 21px 64px 21px;
}

.become_avolunter__imgbox {
    width: 82px;
    height: 82px;
    color: white;
    background-color: #2e4049;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.become_avolunter__imgbox img {
    width: 46px;
    height: 46px;
}

.become_avolunter__heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    color: #2e4049;
    text-align: center;
}

.become_avolunter__subheading {
    font-size: 2rem;
    line-height: 130%;
    font-weight: normal;
    color: #2e4049;
    text-align: center;
}

.become_avolunter_joinustoday {
    width: 201px;
    height: 65px;
    background-color: #2e4049;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.become_avolunter_joinustoday a {
    font-size: 1.8rem;
    font-weight: normal;
    color: #ffffffff;
    text-decoration: none;
    text-transform: uppercase;
}

/* MEET OUR VOLUNTERS  END */

.volunterpage_herosection {
    padding: 5rem;
    background-color: #77d7d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.volunterpage_herosection__title {
    padding: 4rem;
    color: #2e4049;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.volunterpage_herosection__title h1 {
    font-size: 6rem;
}
.volunterpage_herosection__title h2 {
    font-size: 2rem;
}
.volunterpage_herosection__img {
    width: 50%;
    position: relative;
}

.volunterpage_herosection__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #77d7d3 0%, #77d7d3 100%);
    opacity: 0.8;
    z-index: 1;
}

.volunterpage_herosection__img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.volunterpage_formsection {
    background-color: rebeccapurple;
    width: 120rem;
    margin: 100px auto;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.volunterpage_formsection__title {
    color: #2e4049;
    width: 50%;
    padding: 2rem;
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.volunterpage_formsection_form {
    background-color: #faf9fd;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 50%;
    padding: 5rem 5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.volunterpage_formsection_form input,
.volunterpage_formsection_form textarea {
    background-color: #f5f5f5;
    border: none;
    padding: 2rem;
    border-radius: 10px;
}

.volunterpage_formsection_form button {
    padding: 2rem 6rem;
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #2e4049;
    border: none;
    border-radius: 34px;
    color: #f5f5f5;
    cursor: pointer;
}

.success__notification {
    background-color: #f3f4f6;
    padding-block: 1rem;
    padding-inline: 10%;
    display: flex;
    justify-content: space-between;
}

.success__notification_message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: green;
    font-size: 2rem;
}

.success__notification_closebtn {
    background-color: white;
    border: 1px solid gainsboro;
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .volunterpage_formsection {
        flex-direction: column;
    }
    .volunterpage_formsection_form {
        width: 80%;
    }
}
