/* MEET OUR VOLUNTERS  START */

.voluntersection {
    width: 120rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
}
.voluntersection__heading {
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%;
    color: #2e4049;
    text-align: center;
}

.voluntersection__volunters {
    display: flex;
    gap: 2.3rem;
}

.voluntersection__volunters_volunter {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.voluntersection__volunters_volunter_img {
    width: 283px;
    height: 382px;
}

.voluntersection__volunters_volunter_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.voluntersection__volunters_volunter_detail__name {
    font-size: 2rem;
    line-height: 120%;
    font-weight: 700;
    color: #2e4049;
}

.become_avolunter {
    background-color: #77d7d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 64px 21px 64px 21px;
}

.become_avolunter__imgbox {
    width: 82px;
    height: 82px;
    color: white;
    background-color: #2e4049;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.become_avolunter__imgbox img {
    width: 46px;
    height: 46px;
}

.become_avolunter__heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 120%;
    color: #2e4049;
    text-align: center;
}

.become_avolunter__subheading {
    font-size: 2rem;
    line-height: 130%;
    font-weight: normal;
    color: #2e4049;
    text-align: center;
}

.become_avolunter_joinustoday {
    width: 201px;
    height: 65px;
    background-color: #2e4049;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.become_avolunter_joinustoday a {
    font-size: 1.8rem;
    font-weight: normal;
    color: #ffffffff;
    text-decoration: none;
    text-transform: uppercase;
}

/* MEET OUR VOLUNTERS  END */


/* .volunterpage_herosection {
    padding: 5rem;
    background-color: #77d7d3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.volunterpage_herosection__title {
    padding: 4rem;
    color: #2e4049;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.volunterpage_herosection__title h1 {
    font-size: 6rem;
}
.volunterpage_herosection__title h2 {
    font-size: 2rem;
}
.volunterpage_herosection__img {
    width: 50%;
    position: relative;
}

.volunterpage_herosection__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #77d7d3 0%, #77d7d3 100%);
    opacity: 0.8;
    z-index: 1;
}

.volunterpage_herosection__img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.volunterpage_formsection {
    background-color: rebeccapurple;
    width: 120rem;
    margin: 100px auto;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.volunterpage_formsection__title {
    color: #2e4049;
    width: 50%;
    padding: 2rem;
    font-size: 4rem;
    font-weight: bolder;
    text-transform: uppercase;
}
.volunterpage_formsection_form {
    background-color: #faf9fd;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 50%;
    padding: 5rem 5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.volunterpage_formsection_form input,
.volunterpage_formsection_form textarea {
    background-color: #f5f5f5;
    border: none;
    padding: 2rem;
    border-radius: 10px;
}

.volunterpage_formsection_form button {
    padding: 2rem 6rem;
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #2e4049;
    border: none;
    border-radius: 34px;
    color: #f5f5f5;
    cursor: pointer;
}

.success__notification {
    background-color: #f3f4f6;
    padding-block: 1rem;
    padding-inline: 10%;
    display: flex;
    justify-content: space-between;
}

.success__notification_message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: green;
    font-size: 2rem;
}

.success__notification_closebtn {
    background-color: white;
    border: 1px solid gainsboro;
    padding: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
} */




/* VOLUNTEER REGISTRATION SECTION START */

.volunter_registration_section {
    padding: 5%;
    /* width: 192rem; */
    /* height: 98.8rem; */
    background-image: linear-gradient(
            to right bottom,
            rgba(46, 64, 73, 0.9),
            rgba(46, 64, 73, 0.9)
        ),
        url("../img/recentnewsbackground.png");
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5.6rem;
}

/* .volunter_registration_sectionbox {
    width: 1200px;
    height: 80rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.6rem;
} */

.volunter_registration_section__hero {
    flex: 1 1 45%;
    /* width: 50%;
    height: 100%; */
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.volunter_registration_section__hero_heading {
    font-size: 3rem;
    font-weight: bold;
    line-height: 120%;
    color: white;
}
.volunter_registration_section__hero_subheading {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 130%;
    color: white;
}

.volunter_registration_section__hero_img {
    width: 100%;
    height: 192px;
}

.volunter_registration_section__form {
    flex: 1 1 45%;
    /* height: 80rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 48px 63px 48px 63px;
    border: 1px solid white;
}



.volunter_registration_section__form_heading {
    font-size: 3.5rem;
    font-weight: bold;
    list-style: 120%;
    text-align: left;
    text-transform: capitalize;
    color: #ffffff;
}


.volunter_registration_section__form__inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}
.volunter_registration_section__form__inputs_top {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 1rem;

}
.inputtag {
    flex-grow: 1;
    flex-basis: 25%
}

.inputtag input {
    width: 100%;
    padding: 10px 15px 10px 15px;

}

.inputtag_message textarea {
    width: 100%;
    align-self: stretch;
}

.inputtag input {
    /* width: 443px;
    height: 50px; */

    background-color: transparent;
    border: 1px solid white;
}

.inputtag_message textarea {
    height: 60px;
    background-color: transparent;
    border: 1px solid white;
}

.inputtag_message textarea::placeholder {
    padding: 2rem;
    color: white;
    /* font-size: 1.5rem; */
    line-height: 130%;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inputtag input::placeholder {
    padding-left: 2rem;
    color: white;
    font-size: 1rem;
    line-height: 130%;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* .inputtag input:focus,
.inputtag textarea:focus {
    border: 1px solid white;
} */

.volunter_registration_section__form_submit {
    padding: 10px 15px 10px 15px;
    border-radius: 34px;
    background-color: white;
    border: none;

    color: #2e4049;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    align-self: self-start;
}

.error {
    font-size: 1.5rem;
    color: red;
    line-height: 150%;
}

/* VOLUNTEER REGISTRATION SECTION END */

/* @media (max-width: 1200px) {
    .volunterpage_formsection {
        flex-direction: column;
    }
    .volunterpage_formsection_form {
        width: 80%;
    }
} */

/* MEDIA QUERIES */

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

/* @media (max-width: 59em) {
    .volunter_registration_section__hero {
        display: none;
        visibility: none;
    }
} */
